<aside>
	<div class="panel radius">
		<h3>Tags</h3>
		{% capture tags %}
			{% for tag in site.tags %}
			  |{{tag[0]}}#{{(tag[1].size)}}
			{% endfor %}
		{% endcapture %}

		{% assign sorted_tags = tags | split: '|' | sort %}

		{% for tag in sorted_tags %}
			{% assign tag_items = tag | split: '#' %}
				{% if tag_items[1] %}
					<span><strong><a href="{{site.url}}/{{site.tag_dir}}/{{ tag_items[0] }}">{{ tag_items[0] }} <small>({{ tag_items[1] | strip }})</small></a></strong></span>
				{% endif %}
		{% endfor %}
	</div>

  <img class="b30" src="" alt="">


	<div class="border-dotted radius b30">
		<img src="" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>