---
layout: default
title: "Misunderheard blog"
teaser: "Varied ramblings on stuff."
header:
  title: false
  image_fullwidth: notes-on-wood-3-1315481.jpg
permalink: /blog/
format: blog-index
# Don't index these pages dear Google.
noindex: true
breadcrumb: true
---
<div class="row">
	<div class="medium-8 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		{% include _sidebar.html %}
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
